body {
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
}

/* Styling */

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 12.5px 40px;
  margin: 10px;
  margin-left: 5%;
  margin-right: 5%;

  border-radius: 10px;
  background: rgba(37, 37, 37, 0.384);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(174, 174, 174, 0.3);
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: rgb(215, 215, 215);
  text-decoration: none;
  font-weight: bold;

  animation-name: textgrey-out;
  animation-duration: 0.5s;
}

.navbar a:hover {
  animation-name: textgrey-in;
  animation-duration: 0.5s;
  color: white;
}

@keyframes textgrey-in {
  from {color: rgb(215, 215, 215);}
  to {color: white;}
}

@keyframes textgrey-out {
  from {color: white;}
  to {color: rgb(215, 215, 215);}
}

.alert-badge {
  background-color: red;
  color: white;
  font-size: 0.6em;
  padding: 2px 4px;
  border-radius: 3px;
  margin-left: 4px;
}
    
img.logo {
  height: 45px;

  animation-name: logogrey-out;
  animation-duration: 0.5s;

  filter: brightness(85%);
}

img.logo:hover {
  animation-name: logogrey-in;
  animation-duration: 0.5s;

  filter: brightness(100%);
}

/* Animations */

@keyframes logogrey-in {
  from {filter: brightness(85%);}
  to {filter: brightness(100%);}
}

@keyframes logogrey-out {
  from {filter: brightness(100%);}
  to {filter: brightness(85%);}
}
